:root {
  --black: #0f0f0f;
  --dark: #2d2e2e;
  --white: #fbfbfb;
  --grey: #888;
}

.pageview {
  background-color: var(--dark);
  padding: 10px;
  min-height: 60vh;
}

/* .pageview a:link {
  color: var(--grey);
} */

.light-text {
  color: #fbfbfb;
}

.light-text h3 {
  border-bottom: 3px solid #888;
}

.color-nav {
  background-color: #0f0f0f;
}

.banner {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 30vh;
  width: 100%;
  background-image: url('./assets/skyline.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.pagecontent {
  border-left: 3px solid var(--grey);
  padding-left: 10px;
}

.avatar {
  float: left;
  height: 10vh;
  margin-right: 1rem;
}

.project {
  /* display: flex; */
  height: 100px;
  color: #FFF;
  height: 150px;
  margin: 10px 0px 10px 0px;
}

footer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f0f0f;
}

footer div {
  width: 66%;
  display: flex;
  justify-content: space-around
}

footer div a {
  text-decoration: none;
  font-size: larger;
  color:#888;
  border-bottom: 3px solid #888;
}
